<!-- <app-navbar></app-navbar> -->
<div class="movie-container">

    <mat-card *ngFor="let movie of favorites;" style="flex: 1 1 auto;">
        <mat-card-header>
            <mat-card-title>{{movie.Title}}</mat-card-title>
            <!-- <mat-card-subtitle>Directed by: {{movie.director.name}}</mat-card-subtitle>      -->
        </mat-card-header>
        <mat-card-content>
            <img class="movie-img" src={{movie.imageUrl}} alt={{movie.Title}}>
        </mat-card-content>
        <mat-card-actions>
            <button class='button-link' mat-button color='primary' (click)='openGenre(genres.Name, genres.Description)'>
                Genre
            </button>
            <button class='button-link' mat-button color='primary'
                (click)='openDirector(movie.director.Name, movie.director.Bio, movie.director.Birthday)'>
                Director
            </button>
            <!-- <button
            class='button-link'
                mat-button
                color='primary'
                (click)='openSynopsis(movie.title, movie.imageUrl, movie.description, movie.year)'
            >
            Synopsis
            </button> -->
            <mat-icon *ngIf="!setFavStatus(movie._id)" (click)="addToUserFavorites(movie._id, movie.Title)"
                class="favorite-button">favorite_border</mat-icon>
            <mat-icon *ngIf="setFavStatus(movie._id)" (click)="removeFromUserFavorites(movie._id, movie.Title)"
                class="favorite-button-active">favorite</mat-icon>

        </mat-card-actions>
    </mat-card>
</div>