<!-- <app-navbar></app-navbar> -->
<div class="movie-container">
    <h1>Favorite Movies</h1>
    <mat-card *ngFor="let movie of favoriteMovies;" style="flex: 1 1 auto;">
        <mat-card-header>
            <mat-card-title>{{favoriteMovies.Title}}</mat-card-title>
            <!-- <mat-card-subtitle>Directed by: {{movie.director.name}}</mat-card-subtitle> -->
        </mat-card-header>
        <mat-card-content>
            <img class="movie-img" src={{movie.imageUrl}} alt={{movie.Title}}>
        </mat-card-content>
        <mat-card-actions>
            <button class='button-link' mat-button color='primary' (click)='openGenre(movie.Genre)'>
                Genre
            </button>
            <button class='button-link' mat-button color='primary' (click)='openDirector(movie.Director)'>
                Director
            </button>
            <button mat-button color='primary' (click)='openSynopsis(movie.Title, movie.imageUrl, movie.Description)'>
                Synopsis
            </button>
            <mat-icon *ngIf="!setFavStatus(movie._id)" (click)="addToUserFavorites(movie._id, movie.Title)"
                class="favorite-button">favorite_border</mat-icon>
            <mat-icon *ngIf="setFavStatus(movie._id)" (click)="removeFromUserFavorites(movie._id, movie.Title)"
                class="favorite-button-active">favorite</mat-icon>

        </mat-card-actions>
    </mat-card>
</div>